.videoRow {
    display: flex;
    margin-bottom: 30px;
    max-width: 700px;
}

.videoRow > img {
    object-fit: contain;
    width: 246;
    height: 139px;
    margin-right: 30px;
}
.description {
    color: #606960;
    margin-top: 10px;
    font-size: 12px;
    
    

}
.video_row_headline {
    font-size: 12px;
    color :#606969;
}
.subs {
    color: blue;
}