.Videos{

    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;

}
.Videos > h2 {
    margin-left: 10px;
    margin-bottom: 20px;

}
.recommended_vids {
    display: flex;
    flex-wrap: wrap;
}
.video_info{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;

}
.video_text {
    margin-left: 15px;

}
.video_text > h4 {
    font-size: 14px;
    margin-bottom: 5px;
}